.text-field {
    background-color: var(--input-background-color);
    border: 1px solid #4a4a4a;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    color: var(--white-text-color);
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    outline: none;
}

.text-field :focus {
    border-color: #ddd;
}



