@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Quicksand', sans-serif;

  --background-color: #282c34;
  --purple-color-light: #dd78f4;
  --purple-color: #7d54fa;
  --purple-color-deep:#5d4b81;
  --purple-color-deeper:rgb(181, 0, 252);
  --purple-color-light-and-dark:rgb(100, 93, 106);

  --white-text-color: #ddd6cb;
}

body {
  background: radial-gradient(var(--background-color), var(--background-color));
  gap: 2rem;
  padding: 2rem;
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: var(--white-text-color);
}

h2 {
  font-size: 2rem;
  color: var(--white-text-color);
}

p {
  font-size: 1.5rem;
  color: var(--white-text-color);
}

a {
  text-decoration: none;
  font-weight: bolder;
}