@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Quicksand', sans-serif;

  --background-color: #282c34;
  --purple-color: #7d54fa;
  --purple-color-deep:#5d4b81;
}

body {
  background: radial-gradient(var(--background-color), var(--background-color));
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}
