@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :root {
    font-family: "Quicksand", sans-serif;
    --background-color: #282c34;
    --purple-color-light: #dd78f4;
    --purple-color: #7d54fa;
    --purple-color-deep: #5d4b81;
    --purple-color-deeper: rgb(181, 0, 252);
    --purple-color-light-and-dark: rgb(100, 93, 106);
    --input-background-color: #1c2027;
    --error-text-color: rgb(244, 96, 96);
    --white-text-color: #ddd6cb;
  }

  body {
    background: radial-gradient(
      var(--background-color),
      var(--background-color)
    );
    gap: 2rem;
    overflow-y: auto;
        /*
    to understand where this came from read this:
    https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/ 
    you can use this tool calculate fluid typography
    https://modern-fluid-typography.vercel.app/
    */
    font-size: clamp(1rem, 1vw + 0.63rem, 1.5rem);
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--white-text-color);
  }

  h2 {
    color: var(--white-text-color);
    
  }

  p {
    color: var(--white-text-color);
  }

  a {
    text-decoration: none;
    font-weight: bolder;
  }
}

@layer components {
  .custom-purple-text {
    @apply bg-gradient-to-r from-purple-color to-purple-light-color bg-clip-text text-transparent;
  }

  .custom-white-text {
    @apply bg-gradient-to-r from-white-text-color to-white-text-color bg-clip-text text-transparent;
  }

  .custom-purple-background {
    @apply bg-gradient-to-r from-purple-color to-purple-light-color;
  }

  .custom-box-shadow {
    box-shadow: 0 0 0.5rem #171717;
  }

  .custom-image-shadow {
    filter: drop-shadow(0 0 1rem rgb(43, 43, 43));
  }

  .custom-text-shadow {
    text-shadow: 0 0 1rem rgb(43, 43, 43);
  }
}

@layer utilities {
  .all-small-caps {
    font-variant: all-small-caps;
  }
}
