.container {
    width: min(100%, 90rem);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax( 20rem,1fr));
    gap: 5rem;
    grid-template-rows: auto ;
    overflow-y: auto;
    list-style: none;
}

.item {
    height: 28.25rem;
}
