.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
}

.container * {
    margin: 1rem;
}

.container h2 {
    margin: 2rem;
}